body {
    display: flex;
    background-image: url('img/background.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

/* for container class (the box in the middle) we set gradient and percentage of h and w we set opacity to see image on the behind and border-radious for beautifulness */
.main-container {
    height: 65%;
    width: 55%;
    border-radius: 35px;
    margin: auto;
    display: grid;
    background: white;
    grid-template-columns: repeat(2, 1fr);
}
/* our container have 2 item in next to one another item and text should be at the center h and w is 100%*/
.inside-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nested-container-border {
    border: solid;
}