/* here we maanged the body of our webpage and add image and style in that */
body {
    display: flex;
    background-image: url('img/background.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
}
/* the style for h1 tag which we put them in center of boarder */
h1 {
    text-align: center;
}

/* here we handle the style of main container which is a grid */
.main-container {
    height: 65%;
    width: 55%;
    border-radius: 35px;
    margin: auto;
    display: grid;
    background: white;
    grid-template-columns: repeat(2, 1fr);
}

/* this style will manage the css of inner containers */
.inside-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* in project description, was mentioned that there is a boarder in right bottom of grid and this stylw will handle that */
.nested-container-border {
    border: solid;
}